//Politik
$primary-politik: #CF9F62;
$primary-politik-hover: #AB5722;
$box-shadow: #00000029;
$box-shadow-alt: #00000080;
$progress-bar: #DCDCDC;

//Grill
$primary-grill: #B31D04;
$orange-grill: #FAB225;
$age-result-black: #393939;

//Traditionalist
$primary-traditionalist: #540e1d;
$primaryGreenTraditionalist: #84bf03;
$primaryGreenTraditionalistHover: #6d8c03;
$question-overlay-traditionalist: #d9d2bf;
$darkBlueTraditionalist: #16193c;
$lightBlueTraditionalist: #a9abc2;

//Harmoniser
$lightBrownHarmoniser: #b7988e;
$primaryColorHarmoniser: #f2b84c;
$primaryBrownHarmoniser: #6a3f1c;
$darkOrangeHarmoniser: #ce8600;

//Squid Game
$red-squid-game: #a81c39;
$dark-red-squid-game: #540e1d;
$btn-opacity-squid-game: 35%;

$font-size-15: 15px;
$font-size-25: 25px;

//Common
$newsletter-blue: #008bd0;
$black: #000;
$black-box-shadow: #0000004d;
$white: #fff;
$red: #ee3322;
$backgroundWhite: #f7f7f2;

$font-default: Arial;
$font-default-serif: $font-default, serif;
$font-age-quiz-title: normal normal bold 22px/33px $font-default-serif;
$no-repeat-0-pd-box: 0 0 no-repeat padding-box;
