<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widget UIWI</title>
    <style>
        .widget-host {
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="widget-host" id="cxo-widget-host"></div>
<div class="widget-host" id="uiwiwidget:age"></div>
<div class="widget-host" id="uiwiwidget:interest"></div>
<div class="widget-host" id="uiwiwidget:gender"></div>
<div class="widget-host" id="uiwiwidget:squidgame"></div>
<div class="widget-host" id="uiwiwidget:newsletter"></div>
</body>

</html>
